.landing {
  background-color: aqua;
  .opt-job__wrapper {
    display: flex;
    flex-direction: row;
    .landing__opt {
      @import "./options";
    }
    .landing__jobs {
      @import "./jobs";
    }
  }
}
