@import "./style/variable.scss";
.App {
  width: 40%;
  height: 80vh;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  background-color: $primary-color;
  color: $secondary-color;
  .review {
    margin-top: 3rem;
    .review__span {
      color: $third-color;
      font-size: large;
    }
    .review__line {
      width: 80px;
      color: $secondary-color;
      height: 2px;
      margin-top: 1rem;
    }
  }
  .person {
    .person__img__wrapper {
      .person__img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
    .person__name__wrapper {
      .person__job {
        color: $third-color;
      }
    }
    .person__text {
      .person__text__p {
        color: $secondary-color;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
      }
      .person__btn {
        margin-right: 1rem;
        padding: 4px 2px 4px 2px;
        background-color: $third-color;
        border-radius: 4px;
        color: $secondary-color;
        margin-bottom: 1rem;
      }
    }
    .btn__container {
      .btn__left {
        width: 40px;
        height: 30px;
        color: $secondary-color;
        background-color: $third-color;
      }
      .btn__right {
        margin-left: 1rem;
        width: 40px;
        height: 30px;
        color: $secondary-color;
        background-color: $third-color;
      }
    }
    .btn__sur__container {
      margin-top: 1rem;
      .btn_sur {
        padding: 10px 75px 10px 75px;
        color: $secondary-color;
        background-color: $third-color;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .App {
    width: 80%;
    height: 80vh;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    background-color: $primary-color;
    color: $secondary-color;
    .review {
      margin-top: 3rem;
      .review__span {
        color: $third-color;
        font-size: large;
      }
      .review__line {
        width: 80px;
        color: $secondary-color;
        height: 2px;
        margin-top: 1rem;
      }
    }
    .person {
      .person__img__wrapper {
        .person__img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }
      .person__name__wrapper {
        .person__job {
          color: $third-color;
        }
      }
      .person__text {
        .person__text__p {
          color: $secondary-color;
          text-align: center;
          margin-left: 2rem;
          margin-right: 2rem;
        }
      }
      .btn__container {
        .btn__left {
          width: 40px;
          height: 30px;
          color: $secondary-color;
          background-color: $third-color;
        }
        .btn__right {
          margin-left: 1rem;
          width: 40px;
          height: 30px;
          color: $secondary-color;
          background-color: $third-color;
        }
      }
      .btn__sur__container {
        margin-top: 1rem;
        .btn_sur {
          padding: 10px 75px 10px 75px;
          color: $secondary-color;
          background-color: $third-color;
        }
      }
    }
  }
}
